[Unit]
Description=Samba4 sysvol replication watch and fix ACL after sync completion
Documentation=
After=network.target
Wants=tis-sysvolsync.service

[Service]
User=root
ExecStart=/usr/bin/python /opt/tis-sysvolsync/sysvolsync.py -f /var/log/sysvolsync.log watch
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target
