Package: tis-sysvolsync
Version: VERSION
Section: base
Priority: optional
Architecture: amd64
Depends: samba, python-requests, python-lxml, python-ldap, libc6, procps, ldb-tools
Maintainer: Tranquil-IT-Systems <admin@tranquil-it-systems.fr>
Description: Install a sync process for samba4 sysvol directory using syncthing tool.
   Fix ACL on sysvol upon completion of sysvol sync
   Get connections with other ADS using DRS objects in AD.
Homepage: http://www.tranquil-it-systems.fr
